table, tr, td, th
    {
        border-collapse: collapse;
        border:0.5px solid black;
    }
td
    {
        padding: 2px;
    }
table
    {
        width:800px;
        text-align:center;
    }
tr:nth-child(odd)
    {
        background-color: rgba(220, 220, 220, 0.333);
    }
tr:hover
    {
        background-color: rgb(252, 211, 211);
    }

